body {
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	background-color: #20B2AA;
	background-position: center;
 }
h1 {
	letter-spacing: 5px;
    text-align: center;
	color: #F0F8FF;
    font-family: verdana;
}
p {
	text-align: center;
}
img{
	width: 250px;
    height: 250px;
}
table{
	border: 2px solid #000000;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    height: 360px;
}
th{
	border: 2px solid #000000;
	height: 25px;
	padding: 15px;
	background-color: #008080;
	color: #000000;
	font-family: arial, helvetica, sans-serif;
}
td{
	border: 2px solid #000000;   
    background-color: #46CDAA;
    color: #000000;
    font-family: arial, helvetica, sans-serif;
}